
<h1>All Studios</h1>

<% @studios.each do |studio| %>
  <p>Name: <%= studio.name %></p>
  <p>Location: <%= studio.location %></p>
   <% studio.movies.each do |movie| %>
  <p>Movies: <%= movie.title %> </p>
   <% end %>
<% end %>
